body {
  margin: 0;
  padding: 0;
font-family: "PT Sans", Arial, sans-serif;
font-size:14px;
line-height: 21px;
font-weight: 400;
color: #333333;
text-transform: uppercase;
}

a {
  text-decoration: none;
}

/*header*/
header {
    background-color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    position: absolute;
    top: 0;
    width: 140px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1;
}

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.site-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0;
    margin: 0;

    list-style: none;
}

.site-navigation-item {
    text-align: center;

    width: 239px;
    padding: 15px 10px;
}

.site-navigation a {
  color:#000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color:#f0f0f0;
}

.site-navigation-item a {
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}
.site-navigation-item a:hover {
    color: #81b3d2;
}

/*main*/

.content {
    background-image: url("../img/background-photo.jpg");
    background-position: top -83px right 0;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 508px;
    position: relative;
}

.polygon {
    position: absolute
    bottom: 0;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.content img {
    padding-top: 76px;
    display:block;
    margin: auto;
}

.main-title {
    margin: 0;
    padding: 61px 380px 38px 380px;

    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    background-color: #ffffff;
}
.reasons-title {
    margin: 0;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}
.advantages-content {
  padding-top: 61px;
}
.five-reasons {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  color: #333333;
  margin-bottom: 70px;
}

/*преимущества*/

.reason-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}
.reason-first {
  display: flex;
}
.reason-item {
  width: 400px;
  min-height: 256px;

  text-align: center;
}
.reason-item h2 {
text-align: center;
margin-top: 10%;
}
.reason-item p {
text-align: center;
margin-top: 10%;
}
.blue-block {
  color: #ffffff;
  background-color: #81b3d2;
}

.reason-feature-list{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}
.reason-item-second {
  display: flex;
  flex-direction: row-reverse;
}

.reason-item-blue {
  color: #ffffff;
  background-color: #81b3d2;
}

.reason-others-list {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.reason-item-grey {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  padding-top: 50px;
  padding-bottom: 63px;
}

.reason-item-grey p {
  color: #333333;
}


.reason-feature-list{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}

.reason-feature-item {
  width: 400px;
  min-height: 330px;

  text-align: center;
}

.reason-feature-item h3 {
  margin: 0 auto;
  padding-top: 164px;

  color: #000000;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  text-align: center;
}

.reason-feature-item p {
  margin: 0 auto;
  padding-top: 28px;
  text-align: center;
  color: #333333;
}

.reason-feature-item p:nth-child(1) {
  width: 252px;
}

.reason-feature-item p:nth-child(2) {
  width: 285px;
}

.reason-feature-item p:nth-child(3) {
  width: 273px;
}

.reason-housing-icon {
  background-image: url("../img/house-icon.svg");
  background-repeat: no-repeat;
  background-position: center 60px;
}

.reason-food-icon {
  background-image: url("../img/food-icon.svg");
  background-repeat: no-repeat;
  background-position: center 62px;
}

.reason-souvenir-icon {
  background-image: url("../img/souvenir-icon.svg");
  background-repeat: no-repeat;
  background-position: center 64px;
}
/*заинтересовались?*/

.container-form-preview {
    position: relative;
    z-index: 10;
    background-color: #ffffff;
}
.search-form-subtitle-1 {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    margin-bottom: 22px;
    padding-top: 49px;
    padding-left: 70px;
    padding-right: 70px;
}
.search-form-subtitle-2 {
    line-height: 24px;
    text-align: center;
    padding-bottom: 34px;
    padding-top: 2px;
    padding-left: 70px;
    padding-right: 70px;
}
.button-close-form {
    position: relative;
    background-color: #766357;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    width: 568px;
    padding:30px 50px;
    outline: none;
    cursor: pointer;
    z-index: 10;
}
.button-close-form:hover,
.button-close-form:focus {
    background-color: #604e43;
    color: #ffffff;
}
.button-close-form:active {
    background-color: #503e33;
    color: #928a85;
}
.container-search-form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    margin-left: 316px;
}
.search-form {
    position: absolute;
    z-index: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 568px;
    background-color: #ffffff;
    padding: 55px;
    padding-top: 53px;
    text-align: left;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 2;
}
@-webkit-keyframes hidden-form-animation {
    to {-webkit-transform: translateY(-500px);transform: translateY(-500px)}
}
@keyframes hidden-form-animation {
    to {-webkit-transform: translateY(-500px);transform: translateY(-500px)}
}
@-webkit-keyframes show-form-animation {
    from {-webkit-transform: translateY(-500px);transform: translateY(-500px)}
    to {-webkit-transform: translateY(0);transform: translateY(0);}
}
@keyframes show-form-animation {
    from {-webkit-transform: translateY(-500px);transform: translateY(-500px)}
    to {-webkit-transform: translateY(0);transform: translateY(0);}
}
.search-form-show {
    -webkit-animation-name: show-form-animation;
            animation-name: show-form-animation;
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
.search-form-hidden {
    -webkit-animation-name: hidden-form-animation;
            animation-name: hidden-form-animation;
    -webkit-animation-duration: 700ms;
            animation-duration: 700ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
.date-form-element,
.number-form-element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}
.date-form-element {
    margin-bottom: 30px;
}
.date-form-element label,
.number-form-element label {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 112px;
    letter-spacing: 0.4px;
}
.children {
    padding-left: 50px;
    margin-right: 3px;
}
.number-form-element {
    width: 50%;
}
.block-number-form-element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 28px;
}
.input-date,
.input-number {

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 14px;
    line-height: 26px;
    min-height: 38px;
    padding: 13px;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    background-color: #f2f2f2;
}
.input-date {
    width: 308px;
    text-align: left;
    padding: 6px;
    padding-left: 12px;
}
.input-number {
    width: 38px;
    text-align: center;
    padding: 6px;
}
.input-date:hover,
.input-number:hover {
    background-color: #ebebeb;
}
.input-date:focus,
.input-number:focus,
.input-date:active,
.input-number:active {
    background-color: #ffffff;
    outline: 2px solid #e5e5e5;
}
.button-calendar {
    border: none;
    outline: none;
    vertical-align: middle;
    width: 38px;
    height: 38px;
    fill: #cacaca;
    background-color: #f2f2f2;
    cursor: pointer;
}
.button-calendar:hover,
.button-calendar:focus {
    fill: #000000;
}
.button-calendar:active {
    fill: #81b3d2;
}
.button-minus-plus {
    border: none;
    outline: none;
    width: 38px;
    height: 38px;
    font-size: 23px;
    font-weight: bold;
    line-height: 26px;
    color: #a9a9a9; 
    background-color: #f2f2f2;
    cursor: pointer;
}
.button-minus-plus:hover,
.button-minus-plus:focus {
    color: #000000;
}
.button-minus-plus:active {
    color: #81b3d2;
}
.button-search-result {
    display: block;
    width: 100%;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    padding: 16px 55px;
    margin-top: 54px;
    text-transform: uppercase;
    border: none;
    background-color: #81b3d2;
    color: #ffffff;
    outline: none;
    cursor: pointer;
}
.button-search-result:hover,
.button-search-result:focus {
    background-color: #669ec0;
    color: #ffffff;
}
.button-search-result:active {
    background-color: #5496bd;
    color: #94b9d2;
}
.map {
    position: relative;
    z-index: 1;
}
.map iframe {
    position: absolute;
}

/*main-catalog*/

.filters {
    background-image: url("../img/filter-background.jpg");
    background-repeat: no-repeat;
    background-position: top -83px right 0;
    background-size: cover;
    min-height: 508px;
    position: relative;
}
.filter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.filter__wrap {
  width: 254px;
  margin: 0;
  margin-top: 27px;
  padding: 0;
  border: none;
}
.filter__elem {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  height: 23px;
  margin: 0;
  margin-bottom: 22px;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
}

.filter__input {
  position: absolute;
  cursor: pointer;
}

.filter__input {
  position: absolute;
  cursor: pointer;
}

.filter__label {
  margin-left: 40px;

  cursor: pointer;
}

.filter__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter__input:checked + .filter__label::after,
.filter__input:hover + .filter__label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  width: 26px;
  height: 26px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
}



.filter-range {
  width: 330px;
  margin: 50px auto;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size:0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}
.range-controls {
  position: relative;

  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover {
  background: #1c4f80;
}
.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}
.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}
.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.sorting-block {
    display: flex;
    justify-content: space-between;

    padding: 30px 72px;

    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;

    background-color: #fefefe;
}

.found {
    margin-right: 50px;

    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.sorting {
    display: flex;
    align-items: center;
}

.sorting ul {
    display: flex;

    padding: 0;
    margin-left: 40px;

    list-style: none;
}

.sorting li {
    margin-right: 33px;
}

.sorting-item a {
    color: rgba(0, 0, 0, 0.3);
    
    border-bottom: 1px dashed #81b3d2;
}

.sorting-item a:hover {
    color: #81b3d2;
}

.sorting-item a:active {
    color: #000000;
}

.sorting-item-current a {
    color: #81b3d2;

    border-bottom: none;
}
.sorting-arrows {
    display: flex;
    align-items: center;
}

.sorting-arrow {
    border: none;
    background-color: transparent;
}

.sorting-arrow:hover path {
    fill: #231F20;
}

.sorting-arrow:active path,
.sorting-arrow-current path {
    fill: #81b3d2;
}

.catalog-list {
    padding: 0;
    margin: 0;

    background-color: #fefefe;

    list-style: none;
}

.catalog-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 30px 72px;
    border-top: 1px solid #e5e5e5;
}

.catalog-item:last-child {
    border-bottom: 1px solid #e5e5e5;
}

.catalog-item figure {
    display: flex;
    flex-direction: row;

    min-height: 90px;

    margin: 0;
}

.catalog-item-image {
    margin-right: 30px;
}

.catalog-item-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalog-item-text table {
    border-collapse: collapse;
} 

.catalog-item-text caption {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;

    text-align: left;
    margin: 0;
}
    
.catalog-item-description {
    line-height: 21px;

    margin: 0;
}


.catalog-item-info-button,
.catalog-item-reservation-button {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;

    padding: 8px 16px;
}
.catalog-item-reservation-button {
    background-color: #766357
}
.catalog-item-reservation-button: hover,
.catalog-item-reservation-button: focus,
.catalog-item-reservation-button: active {
    background-color:#604e43;
}
.catalog-item-info-button {
    background-color: #81b3d2;
    margin-right: 6px;
}
.catalog-item-info-button: hover,
.catalog-item-info-button: focus,
.catalog-item-info-button: active {
    background-color:#669ec0;
}
.catalog-item-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalog-item-stars {
    text-align: right;
}

.catalog-item-star::before {
    display: inline-block;
    content: '';
    width: 17px;
    height: 17px;
    vertical-align:  middle;
    background-image: url("../img/blue-star.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.catalog-item-mark {
    display: inline-block;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #666666;
    vertical-align:  middle;
    padding: 5px 15px;
    margin: 0;

    background-color: #f2f2f2;
}



/*footer*/

.footer {
    margin: 0;
    width: 1200px;
    min-height: 120px;

    display: flex;
    justify-content: space-between;
    font-weight: bold;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

.footer-container {
    padding: 0 10px;
    display: flex;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 39px;
    padding-left: 15px;
}

.contacts,
.number {
  font-size: 21px;
  line-height: 26px;
  color: #000000;

  margin: 0;
  padding: 0;
}

.number {
  display: inline-block;
}

.contacts {
  margin-bottom: 16px;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-right: 224px;
    padding: 0;
    width: 154px;
    text-align: center;
    list-style: none;
}

.social-list li {
    margin-right: 6px;
}

.social-list li:nth-child(3n) {
    margin: 0;
}
.social-button {
    display: flex;
    width: 46px;
    height: 48px;
    color: #ffffff;
    background-color: #81b3d2;
    background-position: center;
}

.social-button:hover {
    background-color: #669ec0;
    color: #ffffff;
}

.social-button:active {
    background-color: #5496bd;
    color: #ffffff;
    opacity: 0.3;
}
.button-tw {
    background-repeat: no-repeat;
    padding: 15px;
    text-align: center;
}
.button-fb {
    background-repeat: no-repeat;
    padding:  13px ;
    text-align: center;
}

.button-yt {
    background-repeat: no-repeat;
    padding: 13px;
    text-align: center;
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin: 0;
    color: #000000;
    text-align: center;
}
