body {
  margin: 0;
  padding: 0;
font-family: "PT Sans", Arial, sans-serif;
font-size:14px;
line-height: 21px;
font-weight: 400;
color: #333333;
text-transform: uppercase;
}

a {
  text-decoration: none;
}

.to-find-button {
  font: inherit;
  text-align: center;
  color:#ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color: #81b3d2;
}

.to-find-button:hover,
.to-find-button:focus,
.to-find-button:active {
  background-color: #78B0BA;
}

.search-button {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  background-color: #766359;
  border: none;
}
.search-button:hover,
.search-button:focus,
.search-button:active {
  background-color:#72643C;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  font-family: "PT Sans Bold"
}
/*header*/
header {
    background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color:#000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color:#f0f0f0;
}

.site-navigation-item a {
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
}
.site-navigation-item a:hover {
    color: #81b3d2;
}

.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h3,h4,h1 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

/*catalog*/

.catalog-filter-form {
    font-size: 14px;
    font-weight: 400px;
    line-height: 21px;
    color: #000000;
}

.catalog-filter-form fieldset {
    border: none;
}

.catalog-filter-form legend {
    font-size: 16px;
    font-weight: 700;
}

.catalog-filter-form ul {
    list-style: none;
    padding: 0;
}

.catalog-filter-form button {
    color: #000000;
    text-transform: uppercase;=
    border: 2px solid #000000;
    background-color: transparent;
}

.sorting-block {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;
}

.found {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
}

.sorting ul {
    list-style: none;
}

.sorting-item a {
    color: rgba(0, 0, 0, 0.3);
    
    border-bottom: 1px dashed #81b3d2;
}

.sorting-item-current a {
    color: #81b3d2;

    border-bottom: none;
}
.details-button {
  font: inherit;
  text-align: center;
  color:#ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color: #81b3d2;
}

.details-button:hover,
.details-button:focus,
.details-button:active {
  background-color: #78B0BA;
}
.to-book-button {
  font: inherit;
  text-align: center;
  color:#ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-color: #766359;
}
.to-book-button:hover,
.to-book-button:focus,
.to-book-button:active {
  background-color:#72643C;
}
.rating {
  color: #666666;
  background-color: #f2f2f2;
}

/*footer*/

.footer-contacts {
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;

    text-align: center;
}

.social {
    text-align: center;

    list-style: none;
}

.social a {
    color: #ffffff;

    background-color: #81b3d2;
}

.social a:hover {
    background-color: #669ec0;
}

.social a:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.copyright {
    display: block;

    text-align: center;
}